
#my-button {
    border: 10px dotted red; 
    margin: 50px;           
    padding: 60px;
}
  
  
.padding1{
    padding: 60px 40px; 
}

.padding2 {
    padding: 60px 40px 20px;
}

.padding3{
    padding: 60px 40px 20px 0px;
}
